repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor
  - repo: local
    hooks:
      - id: flutter-analyze
        name: flutter analyze
        language: system
        entry: flutter analyze
        files: \.dart$
