name: Test
permissions:
  contents: read
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - name: Install flutter
        run: sudo snap install --classic flutter
      - name: Install dependencies
        run: flutter pub get --enforce-lockfile
      - name: Analyze dependencies
        run: flutter pub outdated
      - name: Analyze
        run: flutter analyze
      - name: Test
        run: flutter test --coverage
      - name: Upload coverage
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/lcov.info
