name: Validate Workflows
permissions:
  contents: read
on:
  push:
    branches: [main]
    paths:
      - .github/actionlint-matcher.json
      - .github/zizmor.yml
      - .github/workflows/**
      - .github/actions/**
  pull_request:
    paths:
      - .github/actionlint-matcher.json
      - .github/zizmor.yml
      - .github/workflows/**
      - .github/actions/**
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up uv
        uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7.3.1
      - name: Run actionlint
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          uvx --from=actionlint-py actionlint -color
  security:
    name: Security
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Run zizmor
        uses: zizmorcore/zizmor-action@e639db99335bc9038abc0e066dfcd72e23d26fb4 # v0.3.0
        with:
          advanced-security: false
          persona: pedantic
