name: Validate Workflows
permissions:
  contents: read
on:
  push:
    branches: [main]
    paths:
      - .github/actionlint-matcher.json
      - .github/zizmor.yml
      - .github/workflows/**
      - .github/actions/**
  pull_request:
    paths:
      - .github/actionlint-matcher.json
      - .github/zizmor.yml
      - .github/workflows/**
      - .github/actions/**
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up uv
        uses: astral-sh/setup-uv@bd01e18f51369d5a26f1651c3cb451d3417e3bba # v6.3.1
      - name: Run actionlint
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          uvx --from=actionlint-py actionlint -color
  security:
    name: Security
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Run zizmor
        uses: zizmorcore/zizmor-action@e639db99335bc9038abc0e066dfcd72e23d26fb4 # v0.3.0
        with:
          advanced-security: false
          persona: pedantic
