name: Validate Workflows
permissions:
  contents: read
on:
  push:
    branches: [main]
    paths:
      - .github/actionlint-matcher.json
      - .github/zizmor.yml
      - .github/workflows/**
      - .github/actions/**
  pull_request:
    paths:
      - .github/actionlint-matcher.json
      - .github/zizmor.yml
      - .github/workflows/**
      - .github/actions/**
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
      - name: Run actionlint
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          uvx --from=actionlint-py actionlint -color
  security:
    name: Security
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Run zizmor
        uses: zizmorcore/zizmor-action@0dce2577a4760a2749d8cfb7a84b7d5585ebcb7d # v0.5.0
        with:
          advanced-security: false
          persona: pedantic
